* {
    margin:0px;
    padding:0px;
}

body {
    background: var(--background-gradient);
    background-attachment: fixed;
	font-family: var(--fontFamily-beautiful);
    height: 100vh;
    
}

.content {

    max-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.accountSettings-box {

    background-color: var(--color-box);
    color: var(--color-main);
    width: 55%;
    padding: 3vh 0;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

#title {

    font-size: var(--fontSize-desktop-large);
    margin-bottom: 3vh;

}

.input-box {

    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 1vh 0;

}

.input-label {

    font-size: var(--fontSize-desktop-large);

}

.account-input {

    font-size: var(--fontSize-desktop-large);
    width: 42%;
    text-align:center;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    background-color:var(--color-main);

}

.error {
    display: block;
    width: 100%;
    text-align: right;
    color: rgb(255, 78, 78);
    font-size: calc(var(--fontSize-desktop-small) - 0.1em);
    margin-top: 1vh;
}

#input-dd-watchlist {

    text-align-last: center;
    border-width: 2px;
    box-sizing: content-box;

}

#submit-box {
    justify-content: center;
}

#input-submitBtn:hover {
    cursor: pointer;
}

@media (max-width: 992px) {
    .accountSettings-box {
        width: 90%;
        margin: 7.5vh 0;
    }

    .error {
        font-size: calc(var(--fontSize-phone-small) - 0.05em);
    }
}

@media (max-width: 600px) {

    .content {
        max-height: none;
    }

    .accountSettings-box {

        margin-top: 5vh;
        padding-bottom: 2vh;
        width: 90%;
        justify-content: flex-start;

    }

    #title {

        margin: 0.25em 0;
        font-size: calc(var(--fontSize-phone-large) - 0.3em);

    }

    .input-box {

        margin-top: 0.75em;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

    }

    .input-label {

        width: 90%;
        margin-bottom: 0.5em;
        text-align: center;

    }

    #input-dd-watchlist {

        width: 90%;

    }

    .account-input {

        margin-bottom: 0.5em;
        width: 90%;

    }

    #input-submitBtn {

        margin-top: 1.5em;
        margin-bottom: 0em;

    }

    .error {
        font-size: var(--fontSize-phone-small);
        width: 90%;
    }
}
