* {
    margin:0px;
    padding:0px;
}

body {
    background: var(--background-gradient);
    background-attachment: fixed;
	font-family: var(--fontFamily-beautiful);
    height: 100vh;
    
}

.content {

    max-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.accountSettings-box {

    background-color: var(--color-box);
    color: var(--color-main);
    width: 55%;
    height: 60vh;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.title {

    font-size: var(--fontSize-desktop-large);

}

.input-box {

    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.input-label {

    font-size: var(--fontSize-desktop-large);

}

.account-input {

    font-size: var(--fontSize-desktop-large);
    width: 40%;
    text-align:center;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    background-color:var(--color-main);

}

#input-dd-watchlist {

    text-align-last: center;

}

#result-box {

    width: 80%;
    color: var(--color-main);
    font-size: var(--fontSize-desktop-large);
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

#result {

    text-align: center

}

@media (max-width: 600px) {


    .accountSettings-box {

        margin-top: 8vh;
        width: 90%;
        height: 85vh;
        justify-content: flex-start;

    }

    .title {

        margin-top: 0.5em;

    }

    .input-box {

        margin-top: 1.5em;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

    }

    .input-label {

        width: 90%;
        margin-bottom: 0.5em;
        text-align: center;

    }

    #input-dd-watchlist {

        width: 90%;

    }

    .account-input {

        margin-bottom: 0.5em;
        width: 90%;

    }

    #input-submitBtn {

        margin-top: 1.5em;
        margin-bottom: 0em;

    }
}
