* {
    margin:0px;
    padding:0px;
}

body {
    background: var(--background-gradient);
    background-attachment: fixed;
	font-family: var(--fontFamily-beautiful);
    height: 100vh;
    
}

.content {

    max-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

#title {

    margin: 8vh 0;
    font-size: var(--fontSize-desktop-gigantic);
    color: var(--color-main);

}

.login-box {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 55%;
    padding: 4vh 0;
    background-color: var(--color-box);

}

.input-box {

    width: 90%;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.error {
    display: block;
    width: 100%;
    text-align: right;
    color: rgb(255, 78, 78);
    font-size: calc(var(--fontSize-desktop-small) - 0.1em);
    margin-top: 1vh;
}

.input-label {

    text-align: left;
    font-size: var(--fontSize-desktop-large);
    color: var(--color-main);

}

.login-input {

    font-size: var(--fontSize-desktop-large);
    padding: 0.1em;
    width: 55%;
    text-align: center;
    background-color:var(--color-main);

}

#button-wrapper {
    width: 100%;
    text-align: center;
}

#input-submitBtn {

    margin-top: 2vh;
    width: 40%;

}

#input-submitBtn:hover {

    cursor: pointer;

}

#input-submitBtn:disabled {
    pointer-events: none;
}

@media (max-width: 992px) {
    #title {
        margin: 0;
        padding: 7vh 0;
    }

    .login-box {
        width: 80%;
        margin-bottom: 8vh;
    }

    .error {
        font-size: var(--fontSize-phone-small);
    }
}

@media (max-width: 600px) {


    .login-box {

        width: 90%;

    }

    .input-box {

        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        margin-bottom: 5vh;

    }

    .input-label {

        width: 100%;
        margin-bottom: 0.5em;
        text-align: center;

    }

    .login-input {

        width: 100%;

    }

    .error {
        font-size: var(--fontSize-phone-small);
    }

}