* {
    margin:0px;
    padding:0px;
}

body {
    background: var(--background-gradient);
    background-attachment: fixed;
	font-family: var(--fontFamily-beautiful);
    height: 100vh;
    
}

.content {

    max-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.title {

    margin-top: 10vh;
    height: 5vh;
    font-size: var(--fontSize-desktop-gigantic);
    color: var(--color-main);

}

.error-box {

    margin-top: 5vh;
    height: 10vh;
    width: 60%;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.error-text {

    width: 100%;
    text-align: center;
    font-size: var(--fontSize-desktop-large);
    color: var(--color-main);

}

.login-box {

    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    background-color: var(--color-box);

}

.input-box {

    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.input-label {

    text-align: left;
    font-size: var(--fontSize-desktop-large);
    color: var(--color-main);

}

.login-input {

    font-size: var(--fontSize-desktop-large);
    padding: 0.1em;
    width: 60%;
    text-align: center;
    background-color:var(--color-main);

}

#input-submitBtn {

    width: 80%;

}

#input-submitBtn:hover {

    cursor: pointer;

}

@media (max-width: 600px) {


    .login-box {

        width: 90%;
        height: 30vh;

    }

    .input-box {

        flex-direction: column;
        align-items: center;
        justify-content: space-between;

    }

    .input-label {

        width: 100%;
        margin-bottom: 0.5em;
        text-align: center;

    }

    .login-input {

        width: 100%;

    }

}