* {
    
    margin:0px;
    padding:0px;

}


body {

    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), var(--background-url);
    background-size: cover;
    background-attachment: fixed;
    background-position: var(--background-positioning-desktop);
    font-family: var(--fontFamily-beautiful);
    

}

.content {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    margin-top: 5vh;
    margin-bottom: 5vh;

}

@media (max-width: 600px) {

    body {

        background-position: var(--background-positioning-mobile);

    }

    .content {

        display: block;
        max-height: unset;

    }
    
}





.upper-row {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.settings-box {

    background-color: var(--color-box-transparent);
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5em;

}

.settings-box-pickLine {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;

}

.input-wrapper {

    text-align: center;
    width: 100%;
    margin: 0.4em;

}

.settings-input {

    font-size: var(--fontSize-desktop-medium);
    width: 80%;
    background-color: var(--color-main);

}

select {

    text-align: center;
    text-align-last: center;

}

#dropdown-vehicleType {

    width: 30%;

}

#pick-line-text {

    width: 15%;
    text-align: center;

}

#pick-line-btn {

    width: 30%;
    text-align: center;
    
}

#dropdown-time {

    width: 30%;

}

.hotSmoke-box {

    background-color: var(--color-box-transparent);
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 1em;

}

.hot-smoke {

    background-color: var(--color-main);
    width: 80%;
    font-size: var(--fontSize-desktop-medium);
    text-align: center;
    display: block;
    padding: 0 2%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.hot-smoke:hover {

    cursor: pointer;

}

.hot-smoke-menu {

    display: none;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-main);
    font-size: var(--fontSize-desktop-medium);
    padding: 0.5em;
    width: 100%;

}

@media (max-width: 600px) {

    .upper-row {
        
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 1.5em;

    }

    .settings-box {

        width: 80%;
        margin-bottom: 1.5em;

    }

    .settings-box-pickLine {

        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    .settings-input {

        margin: 0.2em;
        width: 80%;
        font-size: var(--fontSize-phone-small);

    }

    #dropdown-vehicleType {

        width: 80%;

    }

    #pick-line-text {

        width: 80%;

    }

    #pick-line-btn {

        width: 80%;

    }

    #dropdown-time {

        width: 45%;

    }

    .hotSmoke-box {

        width: 80%;
        text-align: center;

    }

    .hot-smoke {

        margin: 0.4em;
        display: none;
        font-size: var(--fontSize-phone-small); 
    
    }

    .hot-smoke-menu {

        display: flex;
        font-size: var(--fontSize-phone-small); 

    }

    .hot-smoke-active {

        display: block;

    }

}




.bottom-row {

    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    align-items: center;

}

.stopSign-img {
    width: 12vw;
}

.segment-line {

    border: none;
    border-top: var(--fontSize-desktop-medium) dashed var(--color-main);
    height: 0px;
    width: 20%;

}

#result {

    font-size: var(--fontSize-desktop-gigantic);
    margin: 1em;
    color: var(--color-main);
    font-weight: 1000;
    width: 20%;
    text-align: center;

}

@media (max-width: 600px) {

    .bottom-row {

        width:100%;
        margin-top: 0.5em;

    }

    .segment-line {

        display: none;

    }

    .stopSign-img {

        display: none;

    }

    #result {

        width: 100%;
        align-self: center;
        text-align: center;
        margin: 0.2em;
        font-size: var(--fontSize-phone-large);

    }
}
