:root {
	--fontFamily-beautiful: Roboto; /* Beautiful font family used EVERYWHERE */

    --fontSize-desktop-small: calc(0.6em + 0.5vw); /* Medium fontSize used for smaller things */
    --fontSize-desktop-medium: calc(0.8em + 0.5vw); /* Medium fontSize used for smaller things */
    --fontSize-desktop-large: calc(1em + .6vw); /* Large fontSize used for larger things */
    --fontSize-desktop-gigantic: calc(1.65em + 1vw); /* Largest fontSize only used on dekstop for the result*/
    --fontSize-phone-small: calc(0.55em + 1.1vw);
    --fontSize-phone-medium: calc(0.85em + 1.1vw);
    --fontSize-phone-large: calc(1.4em + 1vw);
    --fontSize-phone-gigantic: calc(2em + 1vw);

    --color-main: white; /* Color of main text/inputs */ /* DYNAMIC */
    --color-text: black; /*Color of text in inputs */ /* DYNAMIC */
    --color-navText: white; /*Color of text in navBar*/ /*DYNAMIC */
    --color-box: rgb(20, 30, 100); /* Background color of boxes */ /* DYNAMIC */
    --color-box-transparent: rgba(20, 30, 100, 0.5); /*Color of half tranparent boxes */ /* DYNAMIC */

    --color-bus: rgb(20,30,100);
    --color-tram: rgb(180,180,0);
    --color-metro: rgb(80,80,80);
    --color-trolley: rgb(160,0,0);
    --color-hev: rgb(0,140,0);
    --color-ship: rgb(240,240,240);
    --color-add: rgb(60,220,60);

    --background-url: url("assets/images/bg-bus.png"); /* Url of the background image */ /* DYNAMIC */
    --background-positioning-desktop: 0px 0px; /* Positioning of the background on dekstop */ /* DYNAMIC */
    --background-positioning-mobile: -700px 0px; /* Positioning of the background on phone */ /* DYNAMIC */
	--background-gradient: linear-gradient(150deg, rgb(47, 60, 87), rgb(33, 100, 72));
}

nav {

    position: sticky;
    top: 0px;
    width: 100%;
    font-size: var(--fontSize-desktop-large);
    color: var(--color-navText);
    background-color: var(--color-box);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

nav #navbar-title {

    display: inline-block;
    margin: 0.75rem;

}

nav #navbar-title a {
    text-decoration: none;
    color: var(--color-navText);
}

nav ul {

    display: flex;
    flex-direction: row;
    align-items: center;

}

nav ul li {

    list-style: none;
    padding: 0.5em;
    font-weight: 300;

}

nav ul li a {

    text-decoration: none;
    color: var(--color-navText);

}

nav ul li .current {

    font-weight: 900;

}

.navbar-menu {

   display: none;

}

@media (max-width: 992px) {

    nav {

        flex-direction: column;

    }

}

@media (max-width: 600px) {

    nav {
        width: 100%;
        font-size: var(--fontSize-phone-large);
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #navbar-title {
        text-align: left;
        display: inline-block;
        flex-shrink: 0;
    }

    .navbar-menu {
        display: inline-block;
        font-size: var(--fontSize-phone-large);
        margin-right: 0.75rem;
        flex-shrink: 0;
        
        /* The menu icon is just a text under the hood, so it needs to be unselectable */
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    nav ul {

        display: none;
        flex-direction: column;
        width: 100%;

    }

    nav ul li a {
        padding: 0.2em 0.2em;
    }

    .navbar-active {

        display: flex;

    }

    

}