:root {
	--fontFamily-beautiful: Roboto; /* Beautiful font family used EVERYWHERE */

    --fontSize-desktop-medium: 1.75vh; /* Medium fontSize used for smaller things */
    --fontSize-desktop-large: 2.5vh; /* Large fontSize used for larger things */
    --fontSize-desktop-gigantic: 5vh; /* Largest fontSize only used on dekstop for the result*/
    --fontSize-phone-small: 16pt;
    --fontSize-phone-medium: 20pt;
    --fontSize-phone-large: 30pt;

    --color-main: white; /* Color of main text/inputs */ /* DYNAMIC */
    --color-text: black; /*Color of text in inputs */ /* DYNAMIC */
    --color-navText: white; /*Color of text in navBar*/ /*DYNAMIC */
    --color-box: rgb(20, 30, 100); /* Background color of boxes */ /* DYNAMIC */
    --color-box-transparent: rgba(20, 30, 100, 0.5); /*Color of half tranparent boxes */ /* DYNAMIC */

    --color-bus: rgb(20,30,100);
    --color-tram: rgb(180,180,0);
    --color-metro: rgb(80,80,80);
    --color-trolley: rgb(160,0,0);
    --color-hev: rgb(0,140,0);
    --color-ship: rgb(240,240,240);
    --color-add: rgb(60,220,60);

    --background-url: url("assets/images/bg-bus.png"); /* Url of the background image */ /* DYNAMIC */
    --bakcground-positioning-desktop: 0px 0px; /* Positioning of the background on dekstop */ /* DYNAMIC */
    --background-positioning-mobile: -700px 0px; /* Positioning of the background on phone */ /* DYNAMIC */
	--background-gradient: linear-gradient(150deg, rgb(60, 77, 110), rgb(47, 143, 103));
}

nav {

    position: sticky;
    top: 0px;
    width: 100%;
    font-size: var(--fontSize-desktop-large);
    color: var(--color-navText);
    background-color: var(--color-box);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

nav #navbar-title {

    display: inline-block;
    margin: 0.5em;

}

nav ul {

    display: flex;
    flex-direction: row;
    align-items: center;

}

nav ul li {

    list-style: none;
    padding: 0.5em;
    font-weight: 300;

}

nav ul li a {

    text-decoration: none;
    color: var(--color-navText);

}

nav ul li .current {

    font-weight: 900;

}

.navbar-menu {

   position: absolute;
   top: 10pt;
   right: 7pt;
   display: none;
   flex-direction: column;
   justify-content: space-between;
   width: 30px;
   height: 21px;

}

.navbar-menu .line {

    width: 100%;
    height: 4px;
    background-color: var(--color-navText);

}

@media (max-width: 992px) {

    nav {

        flex-direction: column;

    }


}

@media (max-width: 600px) {

    nav {
        width: 100%;
        font-size: var(--fontSize-phone-medium);
    }

    #navbar-title {
        text-align: left;
        width: calc(100% - 0.5em);
    }

    .navbar-menu {

        display: flex;

    }

    nav ul {

        display: none;
        flex-direction: column;
        width: 100%;

    }

    nav ul li a {
        padding: 0.2em 0.2em;
    }

    .navbar-active {

        display: flex;

    }

    

}