* {
    margin:0px;
    padding:0px;
}

body {
    background: var(--background-gradient);
    background-attachment: fixed;
	font-family: var(--fontFamily-beautiful);
}

.content {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 0 10vw 5vh;
	color: var(--color-bus);
	text-align: center;
}

.content h1 {
	font-size: var(--fontSize-desktop-gigantic);
	text-align: center;
	margin: 5vh 0;
}

.content h2 {
	font-size: calc(var(--fontSize-desktop-large) + 0.2em);
	margin-bottom: 1vh;
}

.content h2:not(:first-of-type) {
	margin-top: 5vh;
}

.content p, .content li, .content address {
	font-size: var(--fontSize-desktop-medium);
}

.content ul {
	list-style: none;
}

.content address {
	font-style: normal;
}

.content a {
	font-weight: 900;
	color: var(--color-bus);
	text-decoration: none;
}

.content a:hover {
	text-decoration: underline;
}

#creators li {
	margin-top: 1vh;
}

@media (max-width: 600px) {
	.content {
		padding: 0 5vw 5vh;
	}

	.content h1 {
		font-size: var(--fontSize-phone-gigantic);
	}
	
	.content h2 {
		font-size: var(--fontSize-phone-large);
		margin-bottom: 2vh;
	}
	
	.content p, .content li, .content address {
		font-size: var(--fontSize-phone-medium);
	}
}