:root {

    
    --fontSize-title:12vh; /* font size for the big title*/             /* originally 70pt */
    --fontSize-big:9vh; /* font size for main content */               /* originally 60pt */
    --fontSize-medium:4vh; /*font size for texts like hot smokin' */       /* originally 26pt */
    --fontSize-main:3vh; /* font size for input boxes */                   /* originally 18pt */

    --color-text:white; /* color of main text */
    --color-box:rgb(0, 120, 180); /* background color of boxes */
    --color-box-transparent:rgba(0,120,180,0.0); /* background color for partly transparent box */

    --borderRadius-perfect:1.3vh; /* the one and only perfect border radius for boxes */ /* originally 12px */

    --fontFamily-beautiful: Calibri; /* Beautiful font family used EVERYWHERE */

    --width-topBar: 60%; /* width of topBar in document */
    --width-inputBox: 15%; /* width of input boxes in document */
    --width-mainContent: 100%; /*width of main content box in document */
    --width-inputElement: 90%; /* width of input elements in input boxes */

    --hot-smoke-height: 10vh; /*Height of hot smoke */ /* originally 200px */

    --margin-bigBreak: 6vh; /* margin for big breaks between boxes */ /* originally 40pt */
    --margin-smallBreak: 3vh; /* margin for small breaks between boxes */ /* originally 20pt */
    --margin-main: 0.66vh; /* main margin used to position input elements */ /* originally 6px */

    --alignment-inInputField: center; /* alignment of text in input elements */


}

body {

    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("assets/images/background.png");
    background-size:cover;
    background-attachment: fixed;
    font-family: var(--fontFamily-beautiful);
    

}

#top {

    background-color:var(--color-box-transparent);
    width:var(--width-topBar);
    margin-bottom:var(--margin-bigBreak);
    border-radius:var(--borderRadius-perfect);

}

#content-line {

    background-color: var(--color-box);
    width: 100%;
    margin-bottom:var(--margin-smallBreak);
    border-radius: var(--borderRadius-perfect);

}

#content-stop {

    background-color: var(--color-box);
    width: 100%;
    margin-bottom:var(--margin-smallBreak);
    border-radius: var(--borderRadius-perfect);

}

#left {
    position:fixed;
    width:var(--width-inputBox);
}

#content-main {

    float:left;
    width:var(--width-mainContent);

}

#footer {

    border-top: 2px solid var(--color-box);
    max-height:var(--hot-smoke-height);

}

#hot-smoke-content {

    width:100%;

}

.icon-in-text {

    height:var(--fontSize-big);
    vertical-align: sub;

}

.title-text {

    font-size:var(--fontSize-title);
    color:var(--color-text);
    margin:var(--margin-main);

}

.pick-line-input {

    text-align: var(--alignment-inInputField);
    margin:var(--margin-main);
    font-size: var(--fontSize-main);
    width:var(--width-inputElement);
    border-radius: var(--borderRadius-perfect);
    font-family: var(--fontFamily-beautiful);

}

.pick-stop-input {

    text-align: var(--alignment-inInputField);
    margin:var(--margin-main);
    font-size: var(--fontSize-main);
    width:var(--width-inputElement);
    border-radius: var(--borderRadius-perfect);
    font-family: var(--fontFamily-beautiful);

}

.main-text {

    font-size:var(--fontSize-big);
    color:var(--color-text);
    background-color:var(--color-box-transparent);

}

.vertical-content-wrapper {
    width:100%;
    display: inline-block;
}

.footer-title {
    font-size:var(--fontSize-medium);
    color:var(--color-text);
}

.hot-smoke-split {

    width:33%;
    display: inline-block;

}
.hot-smoke-box {
    width:70%;
    border: 1px solid var(--color-box);
    font-size:var(--fontSize-medium);
    color:var(--color-text);
}