* {
    margin:0px;
    padding:0px;
}

body {
    background: var(--background-gradient);
    background-attachment: fixed;
	font-family: var(--fontFamily-beautiful);
    height: 100vh;
    
}

.content {

    width: calc(100% - 10em);
    margin: 2em 5em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.watchlist-element {

    width: 100%;
    padding: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
    
}

.watchlist-element:not(:first-child) {
    margin-top: 2vh;
}

.watchlist-text {

    width: 87.5%;
    text-align: center;
    font-size: var(--fontSize-desktop-large);

}

.watchlist-image {
    
    width: 4.5%;
    border: 0;

}

.button-container {
    width: 8%;
    margin-right: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.watchlist-move {
    font-size: calc(var(--fontSize-desktop-gigantic) - 0.5em);
    cursor: pointer;
}

.watchlist-delete {

    font-size: calc(var(--fontSize-desktop-gigantic) - 0.5em);
    font-weight: 900;
    cursor: pointer;
    transform: rotate(180deg);

}

.watchlist-bus {

    background-color: var(--color-bus);
    color: white;

}

.watchlist-tram {

    background-color: var(--color-tram);
    color: black;

}

.watchlist-metro {

    background-color: var(--color-metro);
    color: white;

}

.watchlist-trolley {

    background-color: var(--color-trolley);
    color: white;

}

.watchlist-hev {

    background-color: var(--color-hev);
    color: white;


}

.watchlist-ship {

    background-color: var(--color-ship);
    color: black;

}

.error-text {

    color:red;
    font-size: var(--fontSize-desktop-large);
    font-weight: 700;

}

@media (max-width: 992px) {
    .content {
        width: 90%;
        margin: 3.5vh auto;
    }
    
    .watchlist-element {
        height: 10vh;
    }

    .watchlist-delete {
        font-size: var(--fontSize-phone-medium);
    }
    
    .watchlist-text {
        font-size: var(--fontSize-phone-small);
    }
}

@media (max-width: 600px) {

    .content {
        margin: 0 auto;
        width: 80%;
    }

    .watchlist-element {

        flex-direction: column;
        padding: 2.5vh 0;
        height: auto;

    }

    .watchlist-element:first-child {
        margin-top: 3.5vh;
    }

    .watchlist-image {
    
        height: 6vh;
        width: auto;
    
    }

    .watchlist-text {

        text-align: center;
        width: 90%;
        margin-top: 4vh;
        font-size: var(--fontSize-phone-medium);

    }

    .button-container {
        width: 35%;
    }

    .watchlist-move {
        margin-top: 4vh;
        text-align: center;
        font-size: var(--fontSize-phone-large);
    }
    
    .watchlist-delete {
        
        margin-top: 4vh;
        text-align: center;
        font-size: var(--fontSize-phone-large);

    }

    .watchlist-delete {
        font-size: var(--fontSize-phone-large);
        margin-right: 0;
    }

}
