* {
    margin:0px;
    padding:0px;
}

body {
    background: var(--background-gradient);
    background-attachment: fixed;
	font-family: var(--fontFamily-beautiful);
    height: 100vh;
    
}

.content {

    width: calc(100% - 10em);
    margin: 5em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.watchlist-element {

    width: 100%;
    height: 10vh;
    padding: 1vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.watchlist-text {

    font-size: var(--fontSize-desktop-xlarge);

}

.watchlist-image {

    height: 8vh;
    width: 8vh;
    border: 0;

}

.watchlist-delete {

    font-size: var(--fontSize-desktop-xlarge);
    font-weight: 900;
    text-decoration: underline;
    width: 16vh;
    cursor: pointer;

}

.watchlist-bus {

    background-color: var(--color-bus);
    color: white;

}

.watchlist-tram {

    background-color: var(--color-tram);
    color: black;

}

.watchlist-metro {

    background-color: var(--color-metro);
    color: white;

}

.watchlist-trolley {

    background-color: var(--color-trolley);
    color: white;

}

.watchlist-hev {

    background-color: var(--color-hev);
    color: white;


}



.watchlist-ship {

    background-color: var(--color-ship);
    color: black;

}

.watchlist-add {

    background-color: var(--color-add);
    color: black;

}

.watchlist-add-content {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.add-input {

    margin: 0.5em;
    font-size: var(--fontSize-desktop-large);
    width: 20vh;

}

.error-text {

    color:red;
    font-size: var(--fontSize-desktop-xlarge);
    font-weight: 700;

}

@media (max-width: 600px) {

    .watchlist-element {

        height: 30vh;
        flex-direction: column;

    }

    .watchlist-text {

        text-align: center;
        width: 90%;
        font-size: var(--fontSize-phone-medium);

    }

    .watchlist-delete {

        text-align: center;
        width: 90%;
        font-size: var(--fontSize-phone-medium);

    }

    .watchlist-add {

        height: 60vh;

    }

    .watchlist-add-content {

        height: 100%;
        flex-direction: column;

    }

    .add-input {

        width: 90%;
        padding: 0;
        font-size: var(--fontSize-phone-small);

    }
}
