* {
    margin:0px;
    padding:0px;
}

body {
    background: var(--background-gradient);
    background-attachment: fixed;
	font-family: var(--fontFamily-beautiful);
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#content-container {
	width: 75%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin: 0 auto;
}

#content-container h1,p {
	color: var(--color-main);
	text-align: center;
	margin-bottom: 5vh;
}

#content-container h1 {
	font-size: 58px;
}

#content-container p {
	font-size: 28px;
}

#content-container button {
	background-color: var(--color-box);
	color: var(--color-main);
	font-size: 24px;
	padding: 15px;
	border: 0;
	margin: 0 auto;
	outline: none;
}

#content-container button:hover {
	background-color: var(--color-main);
	color: var(--color-box);
	cursor: pointer;
}

#content-container button:active,
#content-container button::-moz-focus-inner,
#content-container button:focus {
	outline: none;
	border: 0;
}

@media (max-width: 992px) {
    nav {
        flex-direction: column;
	}
	
	#content-container {
		width: 75%;
	}

	#content-container h1 {
		font-size: 48px;
	}
	
	#content-container p {
		font-size: 24px;
	}
	
	#content-container button {
		font-size: 21px;
	}
}

@media (max-width: 600px) {
    nav {
        width: 100%;
        font-size: var(--fontSize-phone-medium);
    }

    #navbar-title {
        text-align: left;
        width: calc(100% - 0.5em);
    }

    .navbar-menu {
        display: flex;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav ul li a {
        padding: 0.2em 0.2em;
    }

    .navbar-active {
        display: flex;
	}
	
	#content-container h1 {
		font-size: 44px;
	}
}